$black:      #000000;
$main:       #333333;
$dark:       #495057;
$gray:       #868e96;
$light:      #c6c6c6;
$lightgray:  #dbdbdb;
$white:      #ffffff;
$red:        #ed1847;
$green:      #9fc621;

//transition
$transition: all 0.3s ease;